$font-family: "Roboto";
$font-size: 50%;

html {
  font-family: $font-family;
  font-size: $font-size;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 100%;
  }
}

a {
  /* a > href links would otherwise get an odd purple underline */
  text-decoration: none;
}

#landing {
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#landing > #main-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 5vh;
}

#main-container > #greeting {
  font-size: 400%;
  justify-content: flex-start;
}

#main-container > #banner {
  /* Gradient */
  background: #ea00ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00dbde, #ea00ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00dbde, #ea00ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 60vw;
}

#banner > #name {
  font-size: 500%;
  align-self: flex-start;
  padding: 5px 15px 5px 15px;
}
@media screen and (min-width: 768px) {
  #banner > #name {
    padding: 10px 30px 10px 30px;
  }
}

#banner > #statement {
  font-size: 125%;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  #banner > #statement {
    padding: 20px;
  }
}

#statement > #vertical-separator {
  background: #ffffff;
  min-width: 1px;
  margin: 0px 0.8vmax;
}
@media screen and (min-width: 768px) {
  #statement > #vertical-separator {
    background: #ffffff;
    min-width: 2px;
    margin: 0px 1vmax;
  }
}

#statement > #roles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* #roles > .role {
    margin-bottom: 5px;
  } */
#main-container > #under-banner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 7px;
  padding-left: 40px;
}
@media screen and (min-width: 768px) {
  #main-container > #under-banner {
    margin-top: 15px;
  }
}

#under-banner > #links {
  min-width: 50px;
  min-height: 50px;
}
.svg-link > svg {
  width: 5vmin;
  height: 5vmin;
}
