#root {
  font-family: "Roboto";
}

a {
  /* a > href links would otherwise get an odd purple underline */
  text-decoration: none;
}

#landing {
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
}

#landing > #main-container {
  display: flex;
  flex-direction: column;
  padding-bottom: calc(16px + 6vmin);
}

#main-container > #greeting {
  font-size: calc(16px + 6vmin);
  justify-content: flex-start;
}

#main-container > #banner {
  /* Gradient */
  background: #ea00ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00dbde, #ea00ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00dbde, #ea00ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 60vw;
}

#banner > #name {
  font-size: calc(18px + 8vmin);
  padding: 10px;
  align-self: flex-start;
  padding-left: 30px;
}

#banner > #statement {
  display: flex;
  flex-direction: row;
  margin-right: 2vmax;
  padding-top: 20px;
  padding-bottom: 20px;
}

#statement > #vertical-separator {
  background: #ffffff;
  min-width: 2px;
  margin: 0px 1vmax;
}

#statement > #roles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* #roles > .role {
  margin-bottom: 5px;
} */

#main-container > #under-banner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin-top: 15px;
  padding-left: 40px;
}

#under-banner > #links {
  min-width: 50px;
  min-height: 50px;
}

.svg-link > svg {
  width: 3vmax;
  height: 3vmax;
}
